<main>
  <h1>ようこそ <strong>Bookers</strong> へ！</h1>
    <p class="text"><strong>Bookers</strong> では、様々な書籍に関するあなたの意見や</p>
    <p class="text">印象を共有し交換することが出来ます</p>
    <a href=books_path  class="text">start</a>
</main>